* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

input {
    border: none;
    outline: none;
}

.group:focus-within {

    border: 2px solid #007BFF;
}

.group:focus-within i {
    color: #007BFF;
}

.mobile-menu {
    transition: all .5s ease;
    transform: translateY(-150px);
    opacity: 0;
    visibility: hidden;
}

.mobile-menu.active {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;

}

.hero {
    background: linear-gradient(to right, #007BFF 50%, white 50%);
}

.swiper {
    width: 300px;
    height: 300px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Snap behavior for smooth scrolling */
.snap-x {
    scroll-snap-type: x mandatory;
}

.snap-center {
    scroll-snap-align: center;
}

/* Hide scrollbar for a cleaner look */
.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Custom styles for Swiper navigation buttons */


.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
    color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
}

/* Custom hover effect for cards */
.hover\:scale-105:hover {
    transform: scale(1.05);
}

/* Smooth transition for hover effects */
.transition-transform {
    transition: transform 0.3s ease;
}

.transition-colors {
    transition: background-color 0.3s ease;
}

.side_bar {
    right: -500px;
    opacity: 0;
    transition: all 1s ease;
}

.side_bar.active {
    right: 0px;
    opacity: 1;
    transition: all 1s ease;
    animation: SlideinLeft 1.1s ease;
}

@keyframes SlideinLeft {

    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
#SideBarItems::-webkit-scrollbar {
    display: none; 
}
.rotate{
    transform: rotate(45deg);
}