* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

input {
    border: none;
    outline: none;
}

.group:focus-within {

    border: 2px solid #007BFF;
}

.group:focus-within i {
    color: #007BFF;
}

.mobile-menu {
    transition: all .5s ease;
    transform: translateY(-150px);
    opacity: 0;
    visibility: hidden;
}

.mobile-menu.active {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;

}

.hero {
    background: linear-gradient(to right, #007BFF 50%, white 50%);
}

.swiper {
    width: 350px;
    height: 350px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}